<article class="mt-4 px-2 max-w-prose mt:mt-6 lg:mt-5">
  <h1 class="text-2xl font-bold text-slate-800 tracking-tight sm:text-3xl">
    <%= @resource.name %>
  </h1>

  <%= render "content/resources/copy_template", resource: @resource %>

  <%= render "content/resources/source_template", resource: @resource %>

  <%= render "image_gallery" %>

  <div class="content my-6 text-lg text-slate-800">
    <%= markdownify @resource.content, process: [NofollowProcessor, StyledBlockquoteProcessor] %>
  </div>
</article>

<%= render "image_dialog" %>
