<article class="mt-4 max-w-prose mt:mt-6 lg:mt-5">
  <h1 class="text-2xl font-bold text-gray-800 tracking-tight sm:text-3xl">
    <%= @resource.name %>
  </h1>

  <%= render "image_gallery" %>

  <div class="mt-6 content">
    <%= markdownify nil, process: [CopyableCodeProcessor] do %>
      ```bash
      <%== @resource.command || "rails app:template LOCATION='#{resource_template_url(@resource, trailing_slash: false)}'" %>
      ```
    <% end %>
  </div>

  <div class="content mt-6 max-w-prose text-lg text-slate-800">
    <%= markdownify @resource.content, process: [NofollowProcessor, StyledBlockquoteProcessor] %>
  </div>

  <div class="mt-6">
    <h3 class="text-base font-bold tracking-tight text-gray-800">
      Template source
    </h3>

  <div class="mt-0.5 mb-12 content">
    <pre class="p-2 max-h-[12lh] overflow-y-auto text-sm text-slate-900 bg-slate-100 rounded-md"><%= resource.template %></pre>
  </div>
</article>

<%= render "image_dialog" %>
