<article class="mt-4 px-2 max-w-prose mt:mt-6 lg:mt-5">
  <h1 class="text-2xl font-bold text-slate-800 tracking-tight sm:text-3xl">
    <%= @resource.name %>
  </h1>

  <%= render "image_gallery" %>

  <p class="relative mt-6 p-1 font-mono text-sm font-normal text-blue-800 border border-blue-200 rounded-lg">
    <button
      data-action="copy#`<%== @resource.command || "rails app:template LOCATION='#{resource_template_url(@resource, trailing_slash: false)}'" %>`"
      data-copy-duration="7500"
      class="inline-flex items-center gap-x-1 px-2.5 py-0.5 text-sm font-normal tracking-tight text-blue-950 bg-white ring ring-blue-300 rounded-md shadow-sm shadow-blue-200 transition hover:ring-blue-400 active:scale-98 active:shadow-none"
      aria-label="Copy template command to clipboard"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" stroke-width="" class="size-3 block text-blue-600 [[data-copy-success=true]_&]:hidden">
        <path fill-rule="evenodd" d="M13.887 3.182c.396.037.79.08 1.183.128C16.194 3.45 17 4.414 17 5.517V16.75A2.25 2.25 0 0 1 14.75 19h-9.5A2.25 2.25 0 0 1 3 16.75V5.517c0-1.103.806-2.068 1.93-2.207.393-.048.787-.09 1.183-.128A3.001 3.001 0 0 1 9 1h2c1.373 0 2.531.923 2.887 2.182ZM7.5 4A1.5 1.5 0 0 1 9 2.5h2A1.5 1.5 0 0 1 12.5 4v.5h-5V4Z" clip-rule="evenodd"></path>
      </svg>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="size-3 hidden text-blue-800 [[data-copy-success=true]_&]:block">
        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"/>
      </svg>

      Copy command
    </button>
    to run this template in your site's root directory

    <span class="-z-10 absolute inset-0 block bg-[size:11px_11px] bg-[position:-1px_-1px] bg-[linear-gradient(to_right,#dbeafe,transparent_1px),linear-gradient(to_bottom,#dbeafe,transparent_1px)]"></span>
  </p>

  <div class="content mt-6 max-w-prose text-lg text-slate-800">
    <%= markdownify @resource.content, process: [NofollowProcessor, StyledBlockquoteProcessor] %>
  </div>

  <div class="mt-6">
    <h3 class="text-sm font-bold text-slate-800">
      Template source
    </h3>

  <div class="mb-12 content">
    <pre class="p-2 max-h-[12lh] overflow-y-auto text-sm text-slate-900 bg-slate-50 rounded-md"><%= resource.template %></pre>
  </div>
</article>

<%= render "image_dialog" %>
