<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <%= render "shared/head" %>

  <body class="selection:bg-gray-300 selection:text-gray-800 antialiased scroll-smooth [--nav-width:18rem]">
    <%= render "layouts/content/docs/navigation" %>

    <main class="flex flex-row gap-12 w-full [--nav-width:18rem]">
      <%= render partial: "layouts/content/docs/sidebar_navigation", locals: { top_level_items: [{label: "Library", href: resources_path, icon: "cube", current_page?: current_page?(controller: "resources")}, {label: "Docs", href: articles_path, icon: "book-open", current_page?: current_page?(controller: "articles", action: "index")}], sections: Content::Article.sections } %>

     <div class="relative grow flex-col w-full mx-auto lg:ml-(--nav-width) lg:px-6">
       <%= render partial: "layouts/content/docs/sidebar_navigation/toggle_button", locals: { resource: @resource } %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
