<article class="mt-4 px-2 sm:mt-5 lg:mt-7">
  <hgroup>
    <p>
      <%= link_to @resource.article_section.name, @resource.article_section.resources.first, class: "text-xs text-slate-600 hover:text-slate-800 sm:text-sm" %>
    </p>

    <h1 class="mt-1 text-2xl font-bold text-slate-800 tracking-tight sm:text-3xl">
      <%= @resource.title %>
    </h1>
  </hgroup>

  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 mt-4 pb-12 content max-w-prose lg:col-span-9">
      <%= markdownify @resource.content, process: [LabelProcessor, NofollowProcessor, StyledBlockquoteProcessor, CopyableCodeProcessor] %>
    </div>

    <table-of-content items="<%= @resource.table_of_content(levels: %w[h2 h3]).to_json %>" id="toc" active-classes="bg-white lg:bg-slate-100" open class="hidden top-0 col-span-3 lg:flex lg:sticky">
      <template type="title">
        <p class="hidden items-center gap-x-2 text-xs text-slate-600 font-medium lg:flex">
          <%= icon "bars-3-center-left", class: "size-3 text-xs text-slate-600" %>

          On this page
        </p>
      </template>
    </table-of-content>
  </div>

  <%= render "content/resources/adjacency" %>
</article>
