<!DOCTYPE html>
<html>
  <head>
    <%= meta_tags %>
    <%= feeds only: %w[posts] %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= render "shared/favicons" %>

    <%= stylesheet_link_tag :app %>
  </head>

  <body class="antialiased">
    <%= render "shared/nav" %>

    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>
